.footer-container{
    display: flex;
    justify-content:flex-start;
    align-items: center; 
    background-color: rgba(147,112,75,.3);
    height: 64px;
}

.link--icon{
    color: white;
    font-weight: bold;
    margin-left: 10px;
    /* margin-right: 10px; */
    font-size: 20px;
}

#signature--footer{
    color: white;
    margin-left: 10px;
}