.inspiration-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    transition-duration: 4s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.inspiration-container h2{
    display: flex;
    text-align: center;
    font-size: 10.1vw;
    color: black;
    background: white;
    padding: 20px 40px;
    mix-blend-mode: screen;
    border-radius: 10px;
}
.demo-btn{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 7px;
    width: 100px;
    align-self: center;
    margin-right: 30px;
    margin-left: 30px;
    height: 40px; 
    text-align: center;
    font-weight: bold;
    border-color: transparent;
    cursor: pointer;
}
.demo-btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}