/* Classes */
.form-container{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background: url(../SplashPage/images/img_1.JPG);
    background-size: cover;
    background-position: center;
    
}

.form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 180%;
    color: black;
    background: white;
    padding: 20px 40px;
    mix-blend-mode: screen;
    border-radius: 10px;   
}

.input--container{
    margin-top: 20px;
    height: 30px;
    background-color: transparent;
    width: 97%;
    border:none;
}

.loginInput{
    margin: 10px;
    color: black;
    background-color: rgba(147,112,75,.3);
    border:  solid 2px;
    border-radius: 5px;
    height: 55px;
    width: 300px;  
}

.modal--title{
    margin: 10px 0px;
}


/* Ids */
#logIn-btn{
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 7px;
    width: 120px;
    height: 40px;
    cursor: pointer;
}

#cameraImage2{
    margin-top: -20px;
}