.form-container{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../SplashPage/images/img_1.JPG);
    background-size: cover;
    background-position: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size: 8vw;
    color: black;
    background: white;
    padding: 20px 40px;
    mix-blend-mode: screen;
    border-radius: 10px;
}
input{
    margin-top: 20px;
    height: 30px;
    background-color: transparent;
    width: 97%;
    border:none;
}
.loginInput{
    margin: 10px;
    color: black;
    background-color: rgba(147,112,75,.3);
    border:  solid 2px;
    border-radius: 5px;
    height: 55px;
    width: 300px;
}
#logIn-btn{
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 7px;
    width: 120px;
    height: 40px;
}

h2{
    margin: 10px 0px;
}

#cameraImage2{
    margin-top: -20px;
}